# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables / secrets
.env
.env.*

# IDE settings
.vscode/

# Python packaging
*.egg-info/
dist/
build/

# Test/coverage
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db